---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const products = await getCollection('products');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		{products.map((product) => (
			<div>
				{product.data.title}
				{product.data.body}
			</div>
		))}
	</body>
</html>

<script>
	declare global {
		interface Window {
			netlifyIdentity: any
		}
	}

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user: unknown) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
